# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
einops=0.6.1=pypi_0
h5py=3.9.0=pypi_0
huggingface-hub=0.15.1=pypi_0
numpy=1.25.0=pypi_0
opencv-python=4.7.0.72=pypi_0
opendatalab=0.0.9=pypi_0
pillow=9.5.0=pypi_0
pip=23.1.2=py39h06a4308_0
python=3.9.6=h12debd9_1
pyyaml=6.0=pypi_0
scikit-image=0.21.0=pypi_0
scipy=1.11.1=pypi_0
tensorboard=2.13.0=pypi_0
tensorboard-data-server=0.7.1=pypi_0
tifffile=2023.7.4=pypi_0
timm=0.9.2=pypi_0
torch=2.0.1+cu118=pypi_0
torchstat=0.0.7=pypi_0
torchvision=0.15.2+cu118=pypi_0
tqdm=4.65.0=pypi_0
